/* comment goes here... doesnt run in browser */

/* control backslash makes a comment */

/* universal selector */
* {
    margin: 0;
}

/* elemenet selector */
header nav ul {
    list-style: none;
}

header nav ul li {
    display:inline-block;
}

header a {
    color: #eeeeee;
    text-decoration: none;
}


/* id selector */
#home {
    color: black;
}

/* class selector */




